body{
    background-color: white;
    margin-left:2em;
    margin-right: 2em;

}

ul {
    margin-left: .5em;
    margin-right: .5em;
    padding: 0;
    overflow: hidden;
    background-color: #301592;
}

li {
    float: left;
}

li a {
    color: white;
    text-align: center;
    display: block;
    padding: 17px 17px;
    text-decoration: none;
}
.card {
    max-width: 310px;
    text-align: center;
}

.price {
    color: #301592;
    font-size: 13px;
}
.logo {
    font-size: large;
    font-weight: bold;
    color: black;
}
.card{
    margin-top: 2em;
    margin-left: 5em;
    margin-right: 5em;
    margin-bottom: 5em;
    align-content: inherit;
    float: left;
}
.card button {
    background-color: black;
    padding: 8px;
    color: white;
    text-align: center;
    width: 100%;
    font-size: 14px;
}
.card button:hover {
    opacity: 0.6;
}
@media only screen and (max-width: 300px) {
    .text {font-size: 11px}
    .ord{
        float: left;
        margin-left: 1em;
        margin-right: 2em;


    }

    .fotter{
        text-align: center;
        display: inherit;
        justify-content: center;
    }
}
footer {

    background: gray;
    color: white;
    padding-bottom: 3em;
    padding-top: 3em;
}
.fotter {
    display: flex;
    justify-content: space-between;
}
.ord{
    float: left;
    margin-left: 4em;
    margin-right: 12em;


}



@media only screen and (min-width: 750px) and (max-width: 1000px) {
    .ord{
        float: left;
        margin-left: 1em;
        margin-right: 3em;


    }


    .fotter{
        text-align: center;
        display: inherit;
        justify-content: center;

    }

    .cards .card {
        flex-basis: 330px;
        height: 330px;
    }


}

@media only screen and (max-width: 749px) {
    .ord{
        float: left;
        margin-left: 1em;
        margin-right: 1em;


    }



    .fotter{
        text-align: center;
        display: inherit;
        justify-content: center;
    }
    .cards .card {
        height: 50px;
        flex-basis: 100%;
    }
}


