.card {
    max-width: 300px;
    text-align: center;
}

.price {
    color: blueviolet;
    font-size: 14px;
}
.card{

    margin-left: 5em;
    margin-right: 5em;
    margin-bottom: 5em;
    align-content: inherit;
    float: left;
}
.card button {
    background-color: black;
    padding: 8px;
    color: white;
    text-align: center;
    width: 100%;
    font-size: 14px;
}

.card button:hover {
    opacity: 0.6;
}